body {
    color: ghostwhite;
    background: #222222;
}

hr {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: ghostwhite;
    border-color: ghostwhite;
}

.supply-header {
    padding-bottom: 0.25rem;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
}

.supply-icon, .builder-icon {
    font-size: 0.92rem;
    margin-right: 0.4rem;
    fill: ghostwhite;
}

.progress {
    position: relative;
    height: 1.2rem;
}

.progress > span {
    color: black !important;
    width: 100%;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#population-container {
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

#population {
    font-weight: 550;
    font-size: 0.9rem;
}

#supplies-container {
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.supply-pile-container {
    width: 125px;
    margin-right: 1rem;
    text-align: center;
}

#town-container {
    width: 100%;
    padding: 1rem;
    justify-content: center;
}

.town-building {
    height: 4rem;
    width: 4rem;
    text-align: center;
    padding: 0.65rem 0.5rem;
    margin: 0.5rem;
    background: #444444;
    border-radius: 0.25rem;
}

.building-icon {
    font-size: 2.5rem;
    fill: ghostwhite;
}

#builder-container {
    padding: 1rem;
}

.builder-building-container {
    min-width: 175px;
    margin-right: 1rem;
    border-radius: 5px;
    border: ghostwhite 1px solid;
    padding: 0.5rem;
}

.builder-description, .builder-cost {
    color: #999999;
    font-size: 0.75rem;
    white-space: nowrap;
}

.builder-cost {
    color: #f8f8ff;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

img.building-icon.facus {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

img.builder-icon.facus {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.jobs-label {
    font-size: 0.8rem;
}

.job-count-label {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}