<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Township</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/all.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div id="population-container" class="d-flex flex-wrap">
    <span id="population">[[${population}]] Population</span>
</div>
<div id="supplies-container" class="d-flex flex-wrap"></div>
<hr/>
<div id="town-container" class="d-flex flex-wrap"></div>
<hr/>
<div id="builder-container" class="d-flex flex-wrap"></div>
<hr/>
<div class="pl-2">
    <button id="reset-button" class="btn btn-danger">Reset</button>
</div>
</body>
</html>

<script type="text/javascript" th:inline="javascript">
    const supplyMap = [[${supplyMap}]]
    const buildingMap = [[${buildingMap}]]
    const supplyPiles = [[${game.supplyPiles}]]
    const buildings = [[${game.builder}]]
    const town = [[${town.buildings}]]
    const jobs = [[${town.jobs}]]
    const jobLimits = [[${town.jobLimits}]]

    let population = [[${population}]]

    $(() => {
        const $suppliesContainer = $('#supplies-container')
        const $townContainer = $('#town-container')
        const $builderContainer = $('#builder-container')
        const $population = $('#population')
        const numberFormatter = new Intl.NumberFormat()

        let stompClient = null
        let supplyPileTemplate = '{{#supplies}}<span class="supply-pile-container"><div class="supply-header"><i class="supply-icon {{supply.iconClass}}"></i>{{supply.label}}</div><div class="progress"><div id="{{supply.label}}-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="{{pileSize}}"></div><span></span></div></span>{{/supplies}}'
        let townTemplate = '{{#buildings}}<span class="town-building" title="{{label}}"><i class="building-icon {{iconClass}}"></i></span>{{/buildings}}'

        let builderTemplate = '{{#buildings}}' +
                              '<span id="{{label}}-builder-container" class="builder-building-container">' +
                              '<div>' +
                              '<i class="builder-icon {{iconClass}}"></i>' +
                              '<span>{{label}}</span>' +
                              '</div>' +
                              '<span class="d-flex flex-row">' +
                              '<div class="d-flex flex-column pr-2">' +
                              '{{#job}}' +
                              '<div class="jobs-label text-center">Jobs</div>' +
                              '<div class="text-center"><button class="btn btn-sm btn-secondary job-count-button" data-up="true" data-label="{{label}}"><i class="fas fa-caret-up"></i></button></div>' +
                              '<div class="flex-grow-1 job-count-label">{{jobs}}/{{jobLimit}}</div>' +
                              '<div class="text-center"><button class="btn btn-sm btn-secondary job-count-button" data-up="false" data-label="{{label}}"><i class="fas fa-caret-down"></i></button></div>' +
                              '{{/job}}' +
                              '</div>' +
                              '<div class="flex-grow-1">' +
                              '<div class="builder-description">{{description}}</div>' +
                              '{{#description2}}' +
                              '<div class="builder-description">{{description2}}</div>' +
                              '{{/description2}}' +
                              '<div class="builder-cost">Cost:{{#costs}} <span class="builder-cost">{{quantity}} <i class="{{iconClass}}"></i> {{supply}}</span>{{/costs}}</div>' +
                              '<button class="btn btn-sm btn-secondary build-building-button" data-label="{{label}}">Build</button>' +
                              '<span id="{{label}}-builder-progress" class="building-progress-container ml-2" style="display: none">Waiting</span>' +
                              '</div>' +
                              '</span>' +
                              '</span>' +
                              '{{/buildings}}'

        Mustache.parse(supplyPileTemplate)
        Mustache.parse(townTemplate)
        Mustache.parse(builderTemplate)

        // region Websocket

        function connect() {
            const socket = new SockJS('/gs-guide-websocket')

            stompClient = Stomp.over(socket)

            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame)

                stompClient.subscribe('/topic/game', function (body) {
                    const message = JSON.parse(body.body)

                    switch (message.type) {
                        case 'SupplyPileUpdate':
                            updateSupplyPiles(message.supplyPiles)
                            break
                        case 'NewBuildingUpdate':
                            town[message.building.label] = (town[message.building.label] ? town[message.building.label] : 0) + 1
                            jobLimits[message.building.label] = message.jobLimit
                            drawTown()
                            drawSingleBuilder(message.building.label)
                            break
                        case 'NewBuilderUpdate':
                            buildings.push(message.building.label)
                            drawSingleBuilder(message.building.label)
                            break
                        case 'NewSupplyUpdate':
                            supplyPiles.push(message.supplyPile)
                            drawSupplies()
                            break
                        case 'NewPopulationUpdate':
                            population = message.pop
                            $population.html(`${message.pop} Population`)
                            break
                        case 'BuilderUpdate':
                            updateBuilder(message.current)
                            break
                    }

                    updateIcons()
                })
            })
        }

        connect()

        // endregion Websocket

        drawSupplies()
        drawTown()
        drawBuilder()
        updateIcons()

        $builderContainer.on('click', '.job-count-button', function () {
            const $this = $(this)
            const change = $this.data('up') ? 1 : -1
            const label = $this.data('label')
            const jobLimit = _.toNumber(jobLimits[label] ? jobLimits[label] : 0)

            let jobCount = _.toNumber(jobs[label] ? jobs[label] : 0)
            let newJobCount = _.clamp(change + jobCount, 0, jobLimit)
            let totalJobCount = getJobCount()

            if (totalJobCount + change > population) return

            if (newJobCount !== jobCount) {
                jobs[label] = newJobCount
                drawSingleBuilder(label)
                updateIcons()
                $.post(`/updateJob/${[[${game.guid}]]}?label=${label}&quantity=${newJobCount}`)
            }
        })

        $builderContainer.on('click', '.build-building-button', function () {
            const label = $(this).data('label')
            $.post(`/build/${[[${game.guid}]]}?label=${label}`, () => {
                const progress = $(`#${label}-builder-progress`)
                progress.show()
            })
        })

        $('#reset-button').click(() => {
            $.post(`/reset/${[[${game.guid}]]}`, () => {
                location.reload()
            })
        })

        function drawSupplies() {
            const supplies = {
                supplies: _.sortBy(supplyPiles, (p) => {return p.supply.order}),
            }

            $suppliesContainer.html(Mustache.render(supplyPileTemplate, supplies))

            _.each(supplyPiles, (pile) => {
                updateSupplyPileProgressBar(pile)
            })
        }

        function drawTown() {
            const buildings = []

            _.each(town, (v, k) => {
                for (let i = 0; i < v; i++) {
                    let building = buildingMap[k]
                    building.jobs = jobs[k] ? jobs[k] : 0
                    building.jobLimit = jobLimits[k] ? jobLimits[k] : 0
                    buildings.push(building)
                }
            })

            $townContainer.html(Mustache.render(townTemplate, {buildings: buildings}))
        }

        function drawBuilder() {
            const builder = []

            _.each(buildings, (k) => {
                let building = buildingMap[k]
                building.jobs = jobs[k] ? jobs[k] : 0
                building.jobLimit = jobLimits[k] ? jobLimits[k] : 0
                builder.push(building)
            })

            $builderContainer.html(Mustache.render(builderTemplate, {buildings: builder}))
        }

        function drawSingleBuilder(label) {
            const builder = []

            _.each(buildings, (k) => {
                if (k === label) {
                    let building = buildingMap[k]
                    building.jobs = jobs[k] ? jobs[k] : 0
                    building.jobLimit = jobLimits[k] ? jobLimits[k] : 0
                    builder.push(building)
                }
            })

            const oldBuilder = $(`#${label}-builder-container`)
            
            if (oldBuilder.length) {
                oldBuilder.replaceWith(Mustache.render(builderTemplate, {buildings: builder}))
            } else {
                $builderContainer.append(Mustache.render(builderTemplate, {buildings: builder}))
            }
        }

        function updateSupplyPiles(dirtySupplyPiles) {
            _.each(dirtySupplyPiles, (p) => {
                updateSupplyPileProgressBar(p)
            })
        }

        function updateSupplyPileProgressBar(supplyPile) {
            const $bar = $(`#${supplyPile.label}-progress-bar`)
            const width = _.round((supplyPile.quantity / supplyPile.pileSize) * 100)

            $bar.css('width', `${width}%`).attr('aria-valuenow', width)
            $bar.next('span').html(`${numberFormatter.format(supplyPile.quantity)} / ${numberFormatter.format(supplyPile.pileSize)}`)

            if (width === 100) {
                $bar.removeClass('progress-bar-striped').removeClass('progress-bar-animated').removeClass('bg-info').removeClass('bg-danger').addClass('bg-success')
            } else if (width <= 10) {
                $bar.addClass('progress-bar-striped').addClass('progress-bar-animated').removeClass('bg-info').addClass('bg-danger').removeClass('bg-success')
            } else {
                $bar.addClass('progress-bar-striped').addClass('progress-bar-animated').addClass('bg-info').removeClass('bg-danger').removeClass('bg-success')
            }
        }

        function updateBuilder(construction) {
            const progress = $(`#${construction.label}-builder-progress`)

            if (construction.progress !== construction.duration) {
                progress.html(`${construction.progress} / ${construction.duration}`)
                progress.show()
            } else {
                progress.html(`Waiting`)
                progress.hide()
            }
        }

        function updateIcons() {
            $('i.facus').each(function () {
                const $this = $(this)
                const $img = $('<img>')
                getSrc($this, $img)
                mergeClasses($this, $img)
                $img.insertAfter($this)
                $this.remove()
            })

            function mergeClasses($this, $img) {
                _.each($this.attr('class').split(/\s+/), (c) => {
                    $img.addClass(c)
                })
            }

            function getSrc($this, $img) {
                _.each($this.attr('class').split(/\s+/), (c) => {
                    if (c.startsWith('fa-')) {
                        $img.attr('src', `../images/${_.trimStart(c, 'fa-')}.png`)
                    }
                })
            }
        }

        function getJobCount() {
            let i = 0
            _.each(jobs, (v) => {
                i += v
            })
            return i
        }
    })
</script>